<link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
/>

<header class="page-header gradient">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,32L120,48C240,64,480,96,720,101.3C960,107,1200,85,1320,74.7L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
        <div classs="container">
            <div class="row align-items-center justify-content-center">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="container text-center">
                            <h2 class="text-center">Welcome to my page!</h2>
                            <p class="text-center">You may browse my art, purchase it, or contact me for consignment. Enjoy!</p>
                            <button type="button" class="btn btn-primary btn-lg">
                            Contact Me
                            </button>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <img src="https://imgur.com/zQUN87d.png" alt="Header Image">
                    </div>
                </div>
            </div>
        </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,288L40,272C80,256,160,224,240,202.7C320,181,400,171,480,165.3C560,160,640,160,720,176C800,192,880,224,960,213.3C1040,203,1120,149,1200,112C1280,75,1360,53,1400,42.7L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</header>



<%= stylesheet_link_tag 'welcome.css' %>