// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

div#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  padding: 1rem; 
  margin: 1rem;
  display: block;
  align-items: center;
  justify-content: center; 
}


form.row.g-3 {
  display: block flex;
  align-items: center;
  justify-content: center; 
  
}

input, label {
  display: block;
  justify-content: center; 
}

textarea {
  overflow: auto;
}



.page-header {
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}
  