<link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
/>

<div class="container">
    <h1>About Me!</h1>
    <p>Since my childhood I have been fascinated by art. I started taking art classes in middle school, and my love for it has never stopped.</p>
</div>